<div>
    dump(products)
    {%  if productInfo is  empty %}
        <div class="mb-3">
            <table class="table table-striped table-bordered">
                <caption>Your list of products</caption>
                <thead>
                <tr>
                    <th scope="col">Barcode</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for product in productInfo  %}
                    <tr>
                        <td>{{ product.barcode }}</td>
                        <td>{{ product.title }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>
                            <form action="{{ path('app_delete_entry',{'barcode': product.barcode,'id':id.id}) }}" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <form action="{{ path('app_finish',{'id':id.id}) }}" method="post">
                <button >Lets finish this</button>
            </form>

        </div>
{% endif %}
</div>
